body{
    background-image: url(https://images.unsplash.com/photo-1687150434638-1925e0d656ab?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

h1{
    color: black;
    text-align: center;
}

.menu{
    margin: auto;
    list-style: none;
    padding: 0%;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.menu li a{
    display: block;
    padding: 20px;
    color: black;
    
}

.menu li{
    display: inline-block;
}

