body{
    background-color: aquamarine;
}
h1{
    color: black;
    text-align: center;
}

.menu{
    margin: auto;
    list-style: none;
    padding: 0%;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.menu li a{
    display: block;
    padding: 20px;
    color: black;
    
}

.menu li{
    display: inline-block;
}